h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    display: flex !important;
    max-width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.colombia{
    width: 30px;
    height: 20px;
}