.row{
    margin-right: 0;
    padding-right: 0 !important;
}
.inmobiliaria{
    width: 400px;
    height: 400px;
}
#container1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 30px; 
    padding-bottom: 30px;
}
#container2{
    justify-content: center; 
    align-items: center; 
    padding-top: 30px; 
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.aptoc1{
    width: 350px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
}
h1, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}