.navbar{
    background-color: #0069a5 !important;
    padding-right: 0 !important;
}
.logo{
    width: 200px;
    height: 100px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
a:hover {
    color: #000000 !important;
    cursor: pointer !important;
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}